---
layout: default
title: Index
exclude: yes
---

<hr />

{% for page in site.pages %}
	{% unless page.exclude %}
	    {{forloop.index}}, {{ page.title }}; <br />
	{% endunless %}
{% endfor %}

<hr />

{% comment %}
{% for page in site.pages %}
	{% unless page.exclude %}
		<article>
			<code>{{ forloop.index }}</code>
	    {% assign content = page.content %}
	    <header><h1><a href="{{ page.url }}">{{ page.title }}</a></h1></header>
	    {% if page.extname == "md" %}
	    	{{ content  }}
	    {% else %}
	    	{{ content }}
	    {% endif %}
	    <hr />
		</article>
	{% endunless %}
{% endfor %}
{% endcomment %}

<p>{{ site.pages[1].url }}</p>
<p>{{ site.pages[1].url | split: '/'}}</p>
<p>{{ site.pages[1].url | split: '/' | size | minus: 1}}</p>

<hr />

<p>{{ site.pages[4].url }}</p>
<p>{{ site.pages[4].url | split: '/'}}</p>
<p>{{ site.pages[4].url | split: '/' | size | minus: 1}}</p>

<hr />

{% assign url_parts = site.pages[4].url | split: '/' %}
{% assign url_parts_size = url_parts | size | minus: 1 %}

{% for url_part in url_parts %}
	<p>{{ url_part }}</p>
{% endfor %}

<hr />

{{ url_parts.[1] }} //
{{ url_parts.[2] }}

{% if url_parts.[2] %}
    <p>It's not empty!</p>
{% endif %}

<hr />

{% for page in site.pages %}
{% unless page.exclude %}
  {% assign url_parts = page.url | split: '/' %}
  {% assign base = url_parts[1] %}
	{% assign level1 = url_parts[2] %}
	{% assign level2 = url_parts[3] %}

	{% if level1 %}
		<p style="margin-left: 1em">{{page.url}} is a subpage</p>
	{% else %}
		<p>{{page.url}} is an index page</p>
	{% endif %}
{% endunless %}
{% endfor %}