// main hierarchy & sizes
// ————————————————————————————————————————————————————————————————————————————

body {
	@include margin(0 0 0 0);
		min-height: 100vh;
}

.top-container {
	@include outer-container();
	min-width: 720px;

	header#main {
		@include span-columns(12);

		body.front & {
			position: relative;
			z-index: 3;
		}
	}

	.main-container {
		@include span-columns(12);
		position: relative;

		// body.front & {
		// 	z-index: 3;
		// }

		nav {
			@include span-columns(3 of 12);

			body.front & {
				position: relative;
				z-index: 3;
			}
		}
		main.content {
			@include span-columns(9 of 12);

			body.front & {
				z-index: 0;
			}
		}
	}
}

// lower elements
// ————————————————————————————————————————————————————————————————————————————

// top header
header#main {
	@include pad(flex-gutter(16));
}

// main container
.main-container {

	nav {
		@include pad(flex-gutter(16));
		padding-right: flex-gutter(16) / 2;

		height: 100vh;

		overflow-y: hidden !important;
	}

	main.content {
		@include pad(flex-gutter(16));
		padding-left: flex-gutter(16) / 2;

		article {
			header.project-header {
			}
			footer {
				@include margin($base-spacing null null null);

				text-align: right;
			}
		}
	}
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}