// main hierarchy & sizes
// ————————————————————————————————————————————————————————————————————————————

body {
	@include margin(0 0 0 0);
}

.top-container {
	@include outer-container();
	min-width: 720px;
	min-height: 100vh;

	header#main {
		@include span-columns(12);

		body.front & {
<<<<<<< HEAD
			z-index: 1;
=======
			z-index: 0;
>>>>>>> 23e8469460368f139c0f5b172b122670136f4cd5
		}
	}

	.main-container {
		@include span-columns(12);

		nav {
			@include span-columns(3 of 12);

			body.front & {
				z-index: 1;
			}
		}
		main.content {
			@include span-columns(9 of 12);
		}
	}

	body.front & {
		z-index: -1;
	}
}

// lower elements
// ————————————————————————————————————————————————————————————————————————————

// top header
header#main {
	@include pad(flex-gutter(16));
}

// main container
.main-container {

	nav {
		@include pad(flex-gutter(16));
		padding-right: flex-gutter(16) / 2;

		height: 100vh;

		overflow-y: hidden !important;
	}

	main.content {
		@include pad(flex-gutter(16));
		padding-left: flex-gutter(16) / 2;

		article {
			header.project-header {
			}
			footer {
				@include margin($base-spacing null null null);

				text-align: right;
			}
		}
	}
}