// lists
// ————————————————————————————————————————————————————————————————————————————

// unordered, ordered list
ul {

	& {
	  list-style-type: disc;
	  margin-bottom: $small-spacing;
	}

  nav & {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  }
}

ol {
  list-style-type: decimal;

  .footnotes & {
  	padding-left: $base-spacing;
  }
}

// definition list
dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

// tables (from bourbon bitters)
// ————————————————————————————————————————————————————————————————————————————

// Border
$base-border-color: $swiss-light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;

table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;

  td {
  	&:nth-child(1) {
  		width: 15%;
  	}
  	&:nth-child(2) {
  		// width: 75%;
  	}
  }
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  padding: $small-spacing 0;
}

tr {
	border-bottom: $base-border;

	&:last-child {
		border-bottom: none;
	}
}

tr,
td,
th {
  vertical-align: top;
}

// other
// ————————————————————————————————————————————————————————————————————————————

// horizontal rule
hr {
	@include border-width(null null 1px null);
	@include margin($base-spacing null $base-spacing null);

	&.project-hr {
		@include border-style(solid none none none);
	}

	&.work-hr {
		@include border-style(dashed none none none);
	}
}

// images
img, picture {
	@include margin(0 auto 0 auto);
	width: 100%;
	display: block;
}

p.image {
	@include margin($base-spacing null 0 null);

	@for $i from 1 through 10 {
		$width: percentage($i / 10);

		&._#{$i * 10} {
			img, picture {
				width: $width;
			}
		}
	}

	&.v, &.vertical {
		img, picture {
			width: 50%;
		}
	}

	&.vl, &.vertical-large {

		img, picture {
			width: 80%;
		}
	}
}

// media
audio {
	width: 80%;
	margin: auto;
	@include display(block);
}

video {
	display: block;
	width: 100%;
	height: auto;
}

// responsive embeds
.video {
	@include margin($base-spacing null 0 null);
	position: relative;
	padding-bottom: 56.25%;
	padding-top: $base-spacing;
	height: 0;
	overflow: hidden;

	iframe, object, embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

// single elements
section {
	h1 {
		span {
			opacity: 0;
			@include transition (opacity 0.1s ease-in);
		}

		&:hover {
			span {
				opacity: 1;
			}
		}
	}
}

span.copyright {

}

li {
	&.work {
		padding-left: $small-spacing;
	}
	&.project {

	}
}

// disables text selection
@mixin noselect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// large box of text on white background
div.script {
	@include margin($base-spacing $base-spacing 0 $base-spacing);
	@include pad($base-spacing);
	font-style: normal;
	font-family: $georgia;
	background-color: #FFF;
	@include border-style(solid);
	@include border-width(1px);
	@include border-color($swiss-medium-gray);
	box-sizing: content-box;
	@include font-feature-settings( 'liga', 'kern');
	@include noselect;

	p {
		@include margin($small-spacing null $small-spacing null);
	}
}

p.stars {
	text-align: center;
}

// bourbon refills accordion tabs

.accordion-tabs {
  @include clearfix;
  padding: 0;

  .tab-header-and-content {
    list-style: none;
    display: inline;
  }

  .tab-link {
    padding-right: 1em;
    display: inline-block;
  }

  .tab-content {
  	margin-top: $small-spacing;
    display: none;
    float: left;
  }
}

// backgrounds
// ————————————————————————————————————————————————————————————————————————————

header#main {
	@include background($header-background);
}

nav {
	@include background($header-background);	
}

body {
	@include background($body-background);

	&.front {
		/* background from subtlepattern.com */
		@include background-image($body-background, url(/assets/png/noisy_grid_120.png));
	}
}

// temporary

.happy {
	.row {
		@include row(block);
		@include pad($small-spacing);

		img {

			&.tiny {
				@include span-columns(2.25 of 9);
			}

			&.small {
				@include span-columns(3 of 9);
			}

			&.medium {
				@include span-columns(5 of 9);
			}

			&.large {
				@include span-columns(7 of 9);
			}

			&.full {
				@include span-columns(9 of 9);
			}
		}
	}
	.standard	{
		img {
		}
	}

	.long {
		img {
		}
	}
}