// d3.js graph container
// ————————————————————————————————————————————————————————————————————————————

#graph {
	image-rendering: auto;
	z-index: 1;
	@include position(fixed, 0px null null 0px);
	height: 100vh;
	width: 100vw;

	line.link {
		fill: none;
		stroke: #999;
		stroke-width: 1.5px;
		opacity: 0.5;
	}

	.node {

		.thumb {
			opacity: 0.5;
			@include transition (opacity 0.1s ease-in);
		}

		.caption {
			opacity: 0;
			@include transition (opacity 0.1s ease-in);

			font-size: 0.8 * $text-size;
		}

	&:hover {
		.thumb {
			opacity: 1;
		}

		.caption {
			opacity: 1;
		}
	}

	}
}