---
layout: default
---

{% for collection in site.collections %}
  {% if collection[1].label == page.collection %}
    {% assign current = collection[1] %}
	{% endif %}
{% endfor %}

{% if page.single %}
<article>
	{% assign slug = page.title | slugify %}
	<section class="work" data-work="{{ slug }}">
		<h1 id="{{ slug }}"><a href="{{ page.url }}">
			{{ page.title }}  <span class "permalink"><i class="fa fa-link fa-flip-vertical"></i></span></a>
		</h1>
		{{ content }}
	</section>
	{% include footer.html %}
</article>
{% else %}
<article>
	<header class="project-header">
		<h1>{{ page.title }}</h1>
			{{ content }}
		</header>
	<hr class="project-hr" />
	{% for work in current.docs %}
	{% assign slug = work.title | slugify %}
	<section class="work" data-work="{{ slug }}">
		<h1 id="{{ slug }}"><a href="{{ work.url }}">
			{{ work.title }}  <span class "permalink"><i class="fa fa-link fa-flip-vertical"></i></span></a>
		</h1>
		{{ work.content | markdownify }}
		{% unless forloop.last %}
		<hr class="work-hr"/>
		{% endunless %}
	</section>
	{% endfor %}
	{% include footer.html %}
</article>
{% endif %}