---
layout: default
---

{% for collection in site.collections %}
  {% if collection[1].label == page.collection %}
    {% assign current = collection[1] %}
	{% endif %}
{% endfor %}

<article>
	<header>
		<h1>{{ page.title }}</h1>
			{{ content }}
		</header>
	<hr />
	{% for page in current.docs %}
	<section>
		<h1 id="{{ page.title | slugify }}">
			{{ page.title }}  <span><a href="{{ page.url }}">§</a></span>
		</h1>
		{{ page.content | markdownify }}
		{% unless forloop.last %}
		<hr />
		{% endunless %}
	</section>
	{% endfor %}
</article>