---
layout: default
---

{% for collection in site.collections %}
  {% if collection[1].label == page.collection %}
    {% assign current = collection[1] %}
	{% endif %}
{% endfor %}

<article class="project">
	<header class="project-header">
		<h1>{{ page.title }}</h1>
			{{ content }}
		</header>
	<hr class="project-rule" />
	{% for work in current.docs %}
	{% assign slug = work.title | slugify %}
	<section data-work="{{ slug }}" data-appear-top-offset="0" class="work">
		<h1 id="{{ slug }}">
			{{ work.title }}  <span class "permalink"><a href="{{ work.url }}"><i class="fa fa-link fa-flip-vertical"></i></a></span>
		</h1>
		{{ work.content | markdownify }}
		{% unless forloop.last %}
		<hr />
		{% endunless %}
	</section>
	{% endfor %}
	{% include footer.html %}
</article>